* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: slategray
}

.navegacao{
    background-color: darkgray;
}

.secao{
   background-color: darkgrey;
}
 

.footer{
    background-color: slategray;
}