* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: slategray;
    color: lightblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao{
    background-color: darkgray;
}

.secao{
   background-color: darkgrey;
}
 
.rodape{
    background-color: slategray;
}